html {
  min-width: 640px;
}
select {
  cursor: pointer;
}
select:disabled {
  cursor: default;
}
@media print {
  html {
    background-color: #fff !important;
  }
  tfoot {
    display: table-row-group;
  }
  #above, #nav, #end {
    display: none;
  }
  #display {
    box-shadow: none;
    margin: 0 !important;
    padding: 0 !important;
  }
}