/* default of document size should not be lower */
html {
  min-width: 640px;
}
/* just for look */
select {
  cursor: pointer;
}
select:disabled {
  cursor: default;
}
/* fix Firefox appearance
https://stackoverflow.com/questions/7695945/height-of-textarea-does-not-match-the-rows-in-firefox */
textarea {
  overflow-x: hidden;
}
@media print {
  html {
    background-color: #fff !important;
  }
  tfoot {
    display: table-row-group;
  }
  #above, #nav, #end {
    display: none;
  }
  #display {
    box-shadow: none;
    margin: 0 !important;
    padding: 0 !important;
  }
}