/* Bootstrap */
#doc .uk-card-header {
    background-color: #6610f2;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
#doc .uk-card,
#doc .uk-card-body {
    border-radius: 8px;
}
#doc thead,
[data-label=title],
[data-label=thankMessage],
[data-label=vendorSign],
[data-label=totalFinal],
[data-docs=totalFinal] {
    color: #6610f2;
}
/* table */
#doc th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}
#doc .table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}
#doc .table th,
#doc .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
#doc .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
#doc .table tbody + tbody {
    border-top: 2px solid #dee2e6;
}
#doc .table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
}
/* table-bordered */
#doc .table-bordered {
    border: 1px solid #dee2e6;
}
#doc .table-bordered th,
#doc .table-bordered td {
    border: 1px solid #dee2e6;
}
#doc .table-bordered thead th,
#doc .table-bordered thead td {
    border-bottom-width: 2px;
}