body{
  min-width: 640px;
}
@media print{
  body{
    background-color: #fff !important;
  }
  #header,
  #option,
  #footer{
    display: none;
  }
  tfoot{
    display: table-row-group;
  }
}